.container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: .8rem 2rem;
  border: var(--border-width-thin) solid var(--color-base-transparent);
  border-radius: var(--button-border-radius-base);
  width: 100%;
  min-width: max-content;
  max-width: var(--button-max-width);
  font-family: var(--font-family-title);
  box-shadow: var(--box-shadow-sm);
  cursor: pointer;
  transition: filter 0.5s ease, box-shadow 0.2s ease-in;
}

.container:focus {
  box-shadow: 0 0 0 1px var(--color-primary), 0 0 10px 0 var(--color-primary);
  outline: none;
}

.container:hover {
  filter: brightness(1.1);
}

.container:active {
  box-shadow: var(--box-shadow-xs);
  filter: brightness(0.9);
}

.container:disabled{
  filter: brightness(0.7);
  cursor: no-drop;
}

.type-primary{
  background-color: var(--color-primary);
  color: var(--color-font-highlight)
}

.type-primary:focus {
  box-shadow: 0 0 0 1px var(--color-primary-inverted),
    0 0 10px 0 var(--color-primary);
}

.type-secondary{
  background-color: transparent;
  color: var(--color-primary);
  border: var(--border-width-thin) solid  var(--color-primary);
}
.type-accent{
  background-color: var(--color-secondary);
  color: var(--color-font-highlight)
}

.type-tertiary {
  height: 25px;
  /* width: max-content; */
  padding: 0;
  border-bottom: 1px solid var(--color-primary);
  background: var(--color-base-transparent);
  border-radius: var(--border-radius-none);
  box-shadow: var(--shadows-none);
  color: var(--color-primary)
}

.type-tertiary:focus {
  box-shadow: 0 10px 10px -8px var(--color-primary);
}

.container.is-inline {
  max-width: max-content;
}
