.inputTask {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 17px;
  border: 2px solid var(--color-primary);
  background-color: var(--color-background);
  border-radius: var(--border-radius-full);
  gap: 2rem;
}
