.container {
  font-family: var(--font-family-title);
}

.color-primary {
  color: var(--color-font-primary);
}

.color-secondary {
  color: var(--color-font-secondary);
}

.color-base {
  color: var(--color-font-base);
}

.color-muted {
  color: var(--color-font-muted);
}

.color-button {
  color: var(--color-font-button);
}
