.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-base svg {
  stroke: var(--color-font-muted);
}

.color-primary svg {
  stroke: var(--color-light-primary);
}

.color-secondary svg {
  stroke: var(--color-light-secondary);
}

.color-inverted svg {
  stroke: var(--color-font-inverted);
}

.color-sun svg {
  stroke: var(--color-sun);
}

.size-sm {
  width: 20px;
  height: 20px;
}

.size-md {
  width: 32px;
  height: 32px;
}

.size-lg {
  width: 40px;
  height: 40px;
}

.has-borde-primary {
  padding: 0.1em;
  border: var(--border-width-thin) solid var(--color-primary);
  border-radius: var(--border-radius-full);
}

.container.has-borde-secondary {
  padding: 0.1em;
  border: var(--border-width-thin) solid var(--color-secondary);
  border-radius: var(--border-radius-full);
}

.container.has-borde-base {
  padding: 0.1em;
  border: var(--border-width-thin) solid var(--color-font-muted);
  border-radius: var(--border-radius-full);
}
