.container-separator {
  position: relative;
  width: 100%;
  margin: 5px 0;
}

.separator-line {
  width: 100%;
}

.title {
  position: absolute;
  top: -13px;
  left: 2rem;
  padding: 0.5rem;
  background: var(--color-background);
  color: var(--color-font-muted);
}

.color-base {
  border: none;
  background-color: var(--color-font-base);
}

.color-inverted {
  border: none;
  background-color: var(--color-primary-inverted);
}

.color-primary {
  border: none;
  background-color: var(--color-primary);
}

.color-secondary {
  border: none;
  background-color: var(--color-secondary);
}

.color-tertiary {
  border: none;
  background-color: var(--color-font-highlight);
}

.size-xs {
  height: 1px;
}

.size-sm {
  height: 2px;
}

.size-md {
  height: 3px;
}

.size-lg {
  height: 5px;
}
