.container {
  display: block;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 12px 30px 12px 17px;
  border: var(--border-width-thin) solid var(--color-primary);
  margin: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--input-background);
  background-image: url('/image/icon.svg');
  background-position: right 0.7em top 50%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: 1em auto, 100%;
  border-radius: var(--input-border-radius);
  color: var(--color-font-base);
  font-family: var(--font-family-sans);
  font-size: 16px;
  font-weight: 700;
  line-height: var(--line-height-tight);
}

.container::-ms-expand {
  display: none;
}

.container:hover {
  border-color: var(--color-primary);
  box-shadow: var(--box-shadow-focus-in), var(--box-shadow-focus-out);
}

.container:focus {
  box-shadow: var(--box-shadow-focus-in), var(--box-shadow-focus-out);
  outline: none;
}

.is-inline {
  max-width: max-content;
}

.container option {
  font-weight: normal;
}
