.snackbar {
  width: 80%;
  padding: 1em;
  background-color: var(--color-primary);
  border-radius: var(--border-radius-sm);
}

.snackbar-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.snackbar-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}

.color-primary {
  background-color: var(--color-primary);
  color: var(--color-font-button);
}

.color-secondary {
  background-color: var(--color-secondary);
  color: var(--color-font-button);
}
