.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  border: var(--border-width-thin) solid var(--color-primary);
  border-radius: var(--border-radius-sm);
  gap: 1.5rem;
}
