.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  border: var(--border-width-thin) solid var(--color-primary);
  border-radius: var(--border-radius-sm);
  padding: 1rem;
}


