@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat:ital,wght@0,400;0,700;1,100&display=swap');
html,
body {
  height: 100%;
  font-family: var(--font-family-title);
  font-size: var(--font-size-base);
}

#root {
  height: 100%;
}