:root {
  /* background */
  --color-background: var(--color-dark-background);

  /* color */
  --color-base: var(--color-dark-button-base);
  --color-primary: var(--color-dark-primary);
  --color-secondary: var(--color-dark-secondary);

  /* color font */
  --color-font-base: var(--color-dark-font-base);
  --color-font-muted: var(--color-dark-font-muted);
  --color-font-primary: var(--color-font-base);

  /* Box shadow */
  --box-shadow-none: none;
  --box-shadow-xs: none;
  --box-shadow-sm: none;
  --box-shadow-focus: var(--shadow-focus-in), var(--shadow-focus-out);
  --border-radius-card: 20px;
}

@media (prefers-color-scheme: light) {
  :root {
    /* background */
    --color-background: var(--color-light-background);

    /* color */
    --color-base: var(--color-light-button-base);
    --color-primary: var(--color-light-primary);
    --color-secondary: var(--color-light-secondary);

    /* color font */
    --color-font-primary: var(--color-light-primary);
    --color-font-base: var(--color-light-font-base);
    --color-font-muted: var(--color-light-font-muted);

    /* Box shadow */
    --box-shadow-xs: var(--color-light-box-shadow-xs);
    --box-shadow-sm: var(--color-light-box-shadow-sm);
  }
}
