.paragraph {
  width: 100%;
  text-align: justify;
}

.size-sm {
  font-size: var(--font-size-sm);
}

.size-md {
  font-size: var(--font-size-md);
}

.size-lg {
  font-size: var(--font-size-lg);
}

.color-base {
  color: var(--color-font-base);
}

.color-primary {
  color: var(--color-font-primary);
}

.color-inverted {
  color: var(--color-base-white);
}

.is-inline {
  width: auto;
}
