.paragraph{
  width: 100%;
}

.color-base{
  color: var(--font-base)
}

.color-primary{
  color: var(--color-primary)
}

.color-muted{
  color: var(--color-font-highlight)
}

.color-inverted{
  color: var(--color-font-inverted)
}

.size-xs{
  font-size: var(--font-size-xs);
}
.size-sm{
  font-size: var(--font-size-sm);
}
.size-md{
  font-size: var(--font-size-md);
}
.size-lg{
  font-size: var(--font-size-lg);
}
.size-xl{
  font-size: var(--font-size-xl);
}

.is-inline{
  width: auto;
}
